/* .shopping-cart {
  display: flex;
}
#card-ukulele{
    margin: auto;
     height: 500px;
     width: 20rem;
     border: 2px solid black;
     border-radius: 5px;
    padding: 10px;
   
      
    overflow: scroll;
    
   }
   
   .navbar {

   }
   .card-img {
    width: 10rem;
   }
   .card-buttonAlign {
     display: flex;
     justify-content: space-around;
     width: 20rem;
     align-items: center;
     
   }
   .addCartBtn {
    height: 30px;
    background-color: rgb(3, 170, 25);
    font-size: large;
    border: 2px solid black;
    border-radius: 5px
   }
   .backCartBtn { 
    height: 30px;
    
    font-size: large;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 12rem;
   }
   .card-price {
   width: 200px;

   font-size: x-large;
     font-weight: bold;
     
   }
   button {
    border: 2px solid black;
    border-radius: 5px;
   }
   .shopping-cart{
    height: 100vh;
  
    
   }
   .shopping-cart-page {
    display: flex;
    height:100vh;
width: 100vw;
   }
   .cart-title-style {
    text-decoration:underline
   }
   .cart-item {
  
    height: 300px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
   }
   #payButton {
    min-height: 35px;
    background-color: rgb(3, 170, 25);
    font-size: large;
    border: 2px solid black;
    border-radius: 5px;
  margin-bottom: 20px;
   }
   #addToCart {
     height: 35px;
   }
   #decrement, #increment {
     width:30px;
     height: 30px;
   }


    */